{% extends "tl_app/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'tl_app/searchresult/searchresult.css' %}">

<section>
        
    <div class="container">
        <main>
            <div class="main-inner" >
            <label for="search">Search class</label>
            <input type="text" id=search placeholder="Keyword">
            <h1><a href="#" class="main-title">
                </a>
                </h1>
        <div class="search-result">
            <ul class="result">
            <li>
            <a href="#">
                <img src="element5-digital-352046-unsplash.jpg" width="200" height="200" alt="course" class="course-img">
                <p class="course-name">SampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSample</p>
                </a>
                </li>
            <li>
            <a href="#">
                <img src="feliphe-schiarolli-445578-unsplash.jpg" width="200" height="200" alt="course" class="course-img">
                <p class="course-name">SampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSampleSample</p>
                </a>
                </li>
            <li>
            <a href="#">
                <img src="" width="200" height="200" alt="course" class="course-img">
                <p class="course-name">Result1</p>
                </a>
                </li>
            <li>
            <a href="#">
                <img src="" width="200" height="200" alt="course" class="course-img">
                <p class="course-name">Result1</p>
                </a>
                </li>
            <li>
            <a href="#">
                <img src="" width="200" height="200" alt="course" class="course-img">
                <p class="course-name">Result1</p>
                </a>
                </li>
            <li>
            <a href="#">
                <img src="" width="200" height="200" alt="course" class="course-img">
                <p class="course-name">Result1</p>
                </a>
                </li>
            <li>
            <a href="#">
                <img src="" width="200" height="200" alt="course" class="course-img">
                <p class="course-name">Result1</p>
                </a>
                </li>
            <li>
            <a href="#">
                <img src="" width="200" height="200" alt="course" class="course-img">
                <p class="course-name">Result1</p>
                </a>
                </li>
            <li>
            <a href="#">
                <img src="" width="200" height="200" alt="course" class="course-img">
                <p class="course-name">Result1</p>
                </a>
                </li>
            <li>
            <a href="#">
                <img src="" width="200" height="200" alt="course" class="course-img">
                <p class="course-name">Result1</p>
                </a>
                </li>
                
            </ul>
                </div><!-- /.search-result -->
        </div><!-- /.main-inner -->
        </main>
        </div><!-- /.container-->
        </section>

{% endblock content %}